/* html {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: auto;  
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #222;
  } */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.travolta {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://assets-9gag-fun.9cache.com/s/fab0aa49/033037194a549b0bf83e2ac4ba90706a52a9132e/static/dist/web6/img/404/bg.gif")
    center center no-repeat;
  background-size: cover;
  background-color: black;
}

.err-para {
  font-size: 125%;
}

.link_404 {
  text-decoration: none;
  color: white;
  z-index: 2;
}

.link_404:hover {
  text-decoration: underline;
}

/*======================
      404 page
  =======================*/

.page_404 {
  padding: 40px 40px;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);
  height: 650px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
