.faq {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.faq .rectangle-wrapper {
    background-color: #ffffff;
    height: 844px;
    overflow: hidden;
    width: 390px;
}

.faq .rectangle-2 {
    border: 1px dashed;
    border-color: #f1f2f6;
    border-radius: 5px;
    height: 842px;
    left: -20px;
    overflow: hidden;
    position: relative;
    top: 19px;
    width: 430px;
}

.faq .property-default {
    left: 20px !important;
    position: absolute !important;
    top: 14px !important;
}

.faq .property {
    left: 20px !important;
    position: absolute !important;
    top: 826px !important;
}
