/* Reset some default styles for consistency */
body, h1, h2, p {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 400px;
    margin: 40px;
    padding: 40px;
    transform: translate(-50%, -50%);
}
.faq-box{
    margin-bottom: 30px;
    padding: 70px;
    border-radius: 6px;
    width: 158px;
    background-color: #2B2D77;
    color: #2B2D77;
}

.faq-page {
    
    max-width: 800px;
    margin: 0 auto;
   top:40;
    width: 300px;
    padding: 70px 70px 20px; /* Updated padding to push content down */
    background-color: #f4f4f4;
    position: relative; /* Add relative positioning to the container */
}
.top-heading {
    position: absolute;
    top: -10%;
    left: 70%;
    width: 100%;
   
    color: #0c0c0c;
    padding: 20px;
    margin: 0;
}

/* Style for each FAQ item */
.faq-item {
    background-color: #fff;
    border: 2px solid #ddd;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #9f9fa0;
}


.faq-item h3 {
    font-size: 18px;
    color: #0f0f0f;
    margin-bottom: 5px;
}

.faq-item p {
    font-size: 16px;
    color: #090909;
    display: none; 
}


.faq-item.open p {
    display: block;


}

