/* ForgotPassword.css */

.forgot-password .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .forgot-password .title {
    font-size: 2em;
    margin-bottom: 1rem;
  }
  
  .forgot-password .form-control {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .forgot-password .btn {
    width: 30%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 20px;
    border: 0;
    background-color: #de6f2c;
    color: white;
    font-weight: 600;
  }
  
  .forgot-password .btn:hover {
    background-color: #c75f1f;
  }
  
  /* Media queries */
  @media (min-width: 768px) {
    .forgot-password .form-container {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .forgot-password .form-container {
      width: 80%;
    }
  }
  