/* Home.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

@media only screen and (max-width: 500px) {
  .home-card {
    width: 8rem;
    height: 12rem;
    margin: 0 10px;
    position: relative;
  }
  .home-card-img {
    margin-top: 0.5rem;
    width: 5rem;
    height: 5rem;
  }

  .home-card-body {
    height: 7rem;
    width: 8rem;
    position: absolute;
    bottom: 0;
    
  }

  .home-card-title {
    font-size: 0.6rem;
  }
  .home-card-text {
    font-size: 0.5rem;
  }

  .banner-container {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 501px) {
  .home-card {
  
    width: 19rem;
    height: 25rem;
    padding: 2rem 0.2rem;
    
  }

  .home-card-img {
    height: 8rem;
    width: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .home-card-body {
    height: 11rem;
    width: 16rem;
    margin-top: 1rem;
    
  }
  .home-card-title {
    font-size: 0.9rem;
  }
  .home-card-text {
    font-size: 0.8rem;
    bottom: 1;
  }
}



.banner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.featured-products-container {
  text-align: center;
}


.featured-products-heading {
  font-family: "poppins", sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #333;
  margin-bottom: 20px;
  letter-spacing: 0px;
}


@media only screen and (max-width: 600px) {
  .featured-products-heading {
    font-size: 1em; 
  }
}

/* For WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

/* Styles for the carousel items */
.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

/* Styles for the carousel images */
.carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Styles for the product names */
.product-name {
  font-family: "poppins", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  margin: 0;
}





/* Footer.css */

.footer-container {
   /* Set your desired background color */
  color: white; /* Set text color for better visibility on the dark background */
  padding: 25px; /* Add padding for better spacing */
  display: flex;
  justify-content: space-around; /* Adjust the alignment as needed */
  align-items: flex-start; /* Adjust the alignment as needed */
}

.contact-details,
.additional-info {
  flex: 1;
  text-align: left; /* Adjust text alignment as needed */
}

