@media only screen and (max-width: 500px) {
  .products-btn {
    width: 50vw;
    align-self: center;
  }
  .products-list {
    margin: 0;
    padding: 0;
  }
  .products-title{
    text-align: center;
  }
  .product-filter-box{
    width: 90vw;
  }
  .product-filter-box{
    margin-left: 0rem;
  }
}

.products-btn {
  margin: 1rem;
  background-color: #2b547b;
  border: none;
  cursor: pointer; /* Added cursor property */
}

.products-btn:hover {
  background-color: #21415e;
}

@media only screen and (max-width: 700px) {
  .product-filter-box {
    display: flex;
    flex-direction: column;
  }
}

.products-filter-title {
  margin: 1rem auto;
}
.product-filter-box{
  margin-left: 2.5rem;
}
.products-title {
  margin: 2rem 0;
  font-size: 1.8rem;
}

.products-card {
  width: 16rem;
  height: 25rem;
  align-self: center;
  padding: 1.5rem 0.2rem;
  cursor: pointer; /* Added cursor property */
}
.products-card-title{
  font-size: 1rem;
}

.products-card-text{
  font-size: 0.8rem;
}

.products-card-body {
  position: absolute;
  bottom: 0;
}

.products-image-container{
  align-self: center;
  height: 12rem;
  width: 12rem;
}

.products-btn-1 {
  background-color: #de6f2c;
  width: 6rem;
  height: 1.3rem;
  border: 2px solid white;
  cursor: pointer; /* Added cursor property */
}

.products-btn-1:hover {
  background-color: #c75f1f;
  border: 2px solid white;
}

.products-btn-2 {
  background-color: #4f4f4f;
  width: 6rem;
  height: 1.3rem;
  border: 2px solid white;
  cursor: pointer; /* Added cursor property */
}

.products-btn-2:hover {
  background-color: #404040;
  border: 2px solid white;
}

.products-line {
  display: none;
}

@media only screen and (max-width: 700px) {
  .products-line {
    display: block;
    border: 3px solid black;
    color: black;
  }
}
