.register {
    margin: 5px;
    padding: 5px;
  }
  
  .register form {
    max-width: 600px;
    margin: auto;
  }
  
  .register .form-label {
    font-weight: bold;
  }
  
  .register .form-control {
    margin-bottom: 5px;
    border: 1px solid #2b547b; /* Added border */
    height: 5px; /* Reduced height */
    
  }
  
  .register .form-check {
    margin-bottom: 5px;
  }
  
  .register .btn-primary {
    background-color: #2b547b;
    border: none;
  }
  
  .register .btn-primary:hover {
    background-color: #21415e;
    cursor: pointer;
  }
  