

.selling {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.sell-box-form {
  background-color: #2a2c77;
  color: white;
  padding: 3%;
  border-radius: 20px;
}

.sell-input {
  margin-top: 0.3rem;
  margin-bottom: 1.3rem;
  border-radius: 20px;
}

.selling .sell-box-form input {
  border-radius: 25px;
  padding: 13px;
  width: 45vw;
  height: 15px;
}

.selling textarea {
  border-radius: 25px;
  padding: 13px;
  width: 45vw;
  resize: none;
}

@media only screen and (max-width: 600px) {
  .selling .sell-box-form input,
  .selling textarea {
    width: 65vw; /* Adjust the size for smaller screens */
  }
}

.selling-condition {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
}

.selling-condition label {
  font-weight: 600;
}

.selling-second-box {
  display: flex;
  flex-direction: row;
}

.selling-upload {
  background-color: #2a2c77;
  margin: 2rem 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selling-upload:hover{
  background-color: black;
}

.selling-cam-icon{
  height: 60px;
  width: 60px;
}



.selling-radio {
  color: #2a2c77;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin: 0.3rem;
}



.selling-btn{
    width: 40vw;
    height: 3rem;
    border-radius: 25px;
    background-color: #2a2c77;
    color: white;
    font-weight: 600;
    margin: 0.4rem auto 3rem auto;

}

/* Update the existing styles to visually represent checkboxes as radio buttons */

/* Hide the default checkboxes */
.selling input[type="checkbox"] {
  display: none;
}

/* Styling for the custom radio buttons */
.selling .ellipse,
.selling .ellipse-2 {
  border-radius: 50%; /* Makes the div appear as a circle */
  height: 19px;
  width: 19px;
  display: inline-block;
  margin-right: 8px; /* Spacing between the radio button and text */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: relative; /* Needed for absolute positioning of the checkmark */
  vertical-align: middle;
  border: 1px solid #000; /* Border for the radio button */
}

/* Styling for the unchecked state of the radio button */
.selling .ellipse::after,
.selling .ellipse-2::after {
  content: ""; /* Empty content */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px; /* Adjust the size of the inner circle */
  height: 9px; /* Adjust the size of the inner circle */
  border-radius: 50%; /* Make it a circle */
  background-color: transparent; /* Background color for the inner circle */
}

/* Styling for the checked state of the radio button */
.selling .ellipse.checked::after,
.selling .ellipse-2.checked::after {
  background-color: #353faa; /* Change background color when checked */
}
