.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Set the height to 100% of the viewport height */
}

.category-buttons {
  display: flex;
  gap: 16px;
}

.category-button {
  margin-top: 4rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 8rem;
  width:5rem;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #2980b9;
}

.category-button.selected {
  background-color: #2980b9;
}

.book-now-container {
  display: flex;
  justify-content: center;
  margin-top: 15rem; /* Add margin as needed */
  
}

.book-now-button {
  width: 300px;
  font-size: 15px;
  font-weight: 700;
  background-color: #080b5a;
  color: #ffffff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 27px;
  transition: background-color 0.3s ease;
}

.book-now-button:hover {
  background-color: #060849;
}